In [6]:
import pandas as pd
import numpy as np

df = pd.read_csv("D:\\Data Quality Check\\Excel\\sample_peaks_300.csv")

df

      id          name  height      country
0      1       Everest    8975        India
1      2        Lhotse    7637  China/Nepal
2      3            K2    7221  India/Nepal
3      4  Nanga Parbat    8185  China/Nepal
4      5     Annapurna    7052     Pakistan
..   ...           ...     ...          ...
295  296        Lhotse    7929     Pakistan
296  297    Dhaulagiri    7145        China
297  298        Makalu    8407        China
298  299            K2    7478        Nepal
299  300        Makalu    8892     Pakistan

[300 rows x 4 columns]